@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

////////////
// COLORS //
///////////
/* Primary */
$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);

/* Neutral */
$white: hsl(0, 0%, 100%);
$very-light-grayish-blue: hsl(210, 55%, 96%);
$light-grayish-blue-1: hsl(211, 68%, 94%);
$light-grayish-blue-2: hsl(205, 33%, 90%);
$grayish-blue: hsl(219, 14%, 63%);
$dark-grayish-blue: hsl(219, 16%, 36%);
$very-dark-blue: hsl(224, 21%, 14%);

///////////
// FONTS //
//////////
$fs: 'Plus Jakarta Sans';
$w1: 500;
$w2: 800;


//////////////////////
// GENERAL && RESET //
/////////////////////
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    background-color: $light-grayish-blue-1
}

////////////////
/// CONTENT ///
//////////////
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: clamp(5rem, 95vw, 45rem );
    border: 1px solid $white;
    background-color: $white;
    border-radius: 1rem;
}

///////////////
/// HEADER ///
/////////////
header{
    width: 100%;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 1rem;
    }
    .header-all-read{
        font-size: .9rem;
        color: $dark-grayish-blue;
        &:hover{
            cursor: pointer;
            color: $blue;
        }
    }

        .header-notification{
            font-size: 1.3rem;
            display: flex;
            width: 11rem;
            align-items: center;
            justify-content: space-around;

            .header-counter{
                font-size: 1rem;
                background-color: $blue;
                color: $white;
                border-radius: .5rem;
                width: 2.1rem;
                height: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;         
            }
        }      
}

/////////////////////
/// NOTIFICATIONS //
///////////////////
section{
    margin: auto 1rem;

    .item{
        display: grid;
        grid-template-columns: auto 1fr auto;
        margin: .8rem 0;
        background-color: $very-light-grayish-blue;
        border-radius: .8rem;
        &:hover{
            cursor: pointer;
        }


        .item-sub-img{
            margin: auto 1rem;
            img{
                width: 3.3rem;
            }
        }

        .item-img {
            
            > img{
                width: 3rem;
                margin: 1rem 0 1rem 1rem;
                /* object-fit: contain; */
            }
        }

        div > .item-message{
            padding: .5rem; 
            border: 1px solid rgb(205, 204, 204);
            margin: -.2rem .8rem 0.2rem 0.7rem;
            border-radius: .4rem;
            display: none;
            &:hover{
                background-color: $grayish-blue;
            }
        }

        div > .item-notification{
            padding: 1rem .8rem .2rem .8rem;

            .item-name{
                padding-right: .3rem;
                font-weight: $w2;
                font-size: 1rem;

                &:hover{
                    color: $blue;
                }
            }
            .item-text{
                padding-right: .3rem;
                font-size: .85rem;
            }
            .item-info{
                font-weight: $w2;
                font-size: .92rem;
                color: $dark-grayish-blue;
                &:hover{
                    color: $blue;
                }
            }
            .dot{
                display: inline-block;
                width: .55rem;
                height: .55rem;
                background-color: $red;
                border-radius: 50%;
                margin-left: .3rem;
            }
            
        }
        .item-time{
            padding: 0rem 1rem 1rem 1rem;
        }
    }

    .item-read{
        background-color: $white;
        border: 1px solid $light-grayish-blue-1;

        div > .item-notification > .dot{
            display: none;
        }
        div > .item-message{
            display: inline-block;
        }
    }

}

@media screen and (max-width: 45rem){
    section{
        .item{

            .item-time{
                font-size: .75rem;
            }

            .item-message{
                font-size: .85rem;
            }

            div>.item-notification{

                .item-name{
                    font-size: .9rem;
                }
                .item-text{
                    font-size: .8rem;
                }
                .item-info{
                    font-size: .85rem;
                }
            }
        }
    }
}

